In [2]:
import pandas as pd
import numpy as np

### まずデータを確認して、区切り字(sep)、読み飛ばすべきデータ行の行数(skiprows)、列ラベルの有無(header)を確認する

In [ ]:
csv_in = "wholesale_customers.csv" # csvのパス
df = pd.read_csv(csv_in, sep=",", skiprows=13, header=0) # csvの読み込み
# pd.read_csv(パス, sep=区切り文字の指定, skiprows=スキップする行数の指定, header=ヘッダー行数)
df

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,Other,12669,9656,7561,214,2674,1338
1,2,Other,7057,9810,9568,1762,3293,1776
2,2,Other,6353,8808,7684,2405,3516,7844
3,1,Other,13265,1196,4221,6404,507,1788
4,2,Other,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,Other,29703,12051,16027,13135,182,2204
436,1,Other,39228,1431,764,4510,93,2346
437,2,Other,14531,15488,30243,437,14841,1867
438,1,Other,10290,1981,2232,1038,168,2125
439,1,Other,2787,1698,2510,65,477,52

### 基本情報確認

In [ ]:
print(df.shape)  # 形状を表示 440行 × 8列
print(df.info()) # データの形状と情報
display(df.head()) # データの先頭5行を表示 (数)を指定 デフォルトは5行

(440, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    object
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicatessen      440 non-null    int64
dtypes: int64(7), object(1)
memory usage: 27.6+ KB
None

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,Other,12669,9656,7561,214,2674,1338
1,2,Other,7057,9810,9568,1762,3293,1776
2,2,Other,6353,8808,7684,2405,3516,7844
3,1,Other,13265,1196,4221,6404,507,1788
4,2,Other,22615,5410,7198,3915,1777,5185

In [ ]:
df.index # 縦の情報 step=1とは1ずつ増加の意味

RangeIndex(start=0, stop=440, step=1)

In [ ]:
df.columns # 横の情報

Index(['Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen',
       'Detergents_Paper', 'Delicatessen'],
      dtype='object')